.font {
  font-family: 'Cabin', sans-serif;
/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */
}

/* .listings {
  composes: font;
} */
.button {
  background-color: #202020;
  padding: 12px;
  border-radius: 2px;
  width: 50px;
}

.container {
  padding: 50px;
}



.image {
  height: 210px;
  width: 316px;
}

.header {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.5px;
  line-height: 32px;

}
